.container-login {
    position: relative;
    background-color: #F8EEFF;
    width: 100vw;
    overflow: hidden;

    .background-img-login {
        position: absolute;
    }

    .header-login {
        padding-top: 120px;
        position: relative;
        flex-direction: column;
        align-items: center;
        gap: 15px;

        span {
            color: #B674C2;
            font-size: 1rem;
            font-weight: 750;
        }

        p {
            width: 300px;
            text-align: center;
            font-weight: 200;
        }

        .line-login-header {
            padding-top: 10px;
            color: rgb(111, 109, 109);
            font-size: .900rem;
            font-weight: 900;

            hr:first-child {
                margin-right: 15px;
            }

            hr:last-child {
                margin-left: 15px;
            }

            hr {
                background-color: rgb(111, 109, 109);
                margin-top: 11px;
                width: 130px;

            }
        }
    }

    .input-login-body {
        position: relative;
        padding: 100px 20px 0px 20px;

        .input-login {
            flex-direction: column;
            align-items: center;
            gap: 10px;

            .input-2 {
                padding: 15px 15px 15px 20px;
                border-radius: 5px;
                background: white;
                width: 100vw;
                input:focus{
                    outline: none;
                }
                input {
                    padding-bottom: 4px;
                    width: 100%;
                    border-bottom: 1px solid black;
                }
            }

            .btn-login {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 100px;

                p {
                    cursor: pointer;
                    font-weight: 500;
                    font-size: 1.5rem;
                    padding: 5px 50px;
                    background-color: white;
                    box-shadow: 0 0 8px -1px #989595;
                    border-radius: 10px;
                }
            }
        }
    }

    .login-footer {
        position: relative;
        padding-top: 10.600rem;
        padding-bottom: 1.25rem;

        .login-footer-img {
            justify-content: space-between;
            padding: 0px 70px;

            .img-btn-login {
                padding: 10px;
                border-radius: 99999px;
                width: 50px;
                height: 50px;
                background-color: #F5F5F5;
                box-shadow: 0 0 8px -1px #989595;

                .container-img-login {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    padding-top: 5px;
                    padding-left: 5px;
                }
            }

        }
    }
}